/* Ansvarlig for dokument: Andreas */

/* Grunnleggende sidestil */
body {
    background-color: rgb(173, 194, 156);
    font-family: sans-serif;
    margin: 0;
}

/* ------------------------------- */
/* [Styling for navigasjonsmenyen] */
/* ------------------------------- */

/* Sentrerer nav med maks-bredde */
nav {
    max-width: 1024px;
    margin: 0 auto;
}

/* Justerer nav, og fordeler innhold */
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0; 
    margin: 20px 25px;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: rgb(58, 65, 52);
}

nav img {
    margin-right: 10px;
    width: 25px;
}

/* NorwayTrip tekst */
nav li:first-of-type {
    font-weight: bold;
    font-size: 20px;
}

.quiz-button {
    background-color: rgb(214, 225, 206);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Hover effekt: Gjør bakgrunnsfargen lysere */
.quiz-button:hover {
    background-color: rgb(228, 235, 222);
    color: rgb(115, 129, 104);
}

/* ---------------------------- */
/* [Styling for hovedinnholdet] */
/* ---------------------------- */

/* Posisjonerer main midt på siden */
main {
    position: absolute;
    text-align: center;
    top: 45%; /* Flyttes litt opp for .display*/
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 580px;
}

h1 {
    color: rgb(58, 65, 52);
}

/* ---------------------------- */
/* [Styling for Quiz-seksjonen] */
/* ---------------------------- */

/* Spørsmål */
h2 {
    background-color: rgb(187, 204, 173);
    color: rgb(87, 97, 78);
    font-size: 20px;
    font-weight: normal;
    border-radius: 15px 15px 0 0;
    padding: 10px;
    margin: 0;
}

.question-container {
    background-color: rgb(200, 214, 189);
    border: 5px solid rgb(144, 162, 130);
    border-radius: 15px;
    animation: fadeIn 1s;
}

/* Plasserer alternativene gjvent horisontalt */
.inner-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.option {
    opacity: 0.8;
    animation: fadeInDelay 2s;
}

.option img {
    display: block; /*Fjerner avstand*/
    height: 130px;
    border-radius: 10px 10px 0 0;
    border: 4px solid rgb(144, 162, 130);
    border-bottom: none;
}

/* bildebeskrivelse */
.option p {
    background-color: rgb(99, 54, 20);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 0;
    border-radius: 0 0 10px 10px;
    border: 4px solid rgb(144, 162, 130);
    border-top: none;
}

/* Hover effekt: Tydeliggjør at option kan trykkes på*/
.option:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

/* Active effekt: Minsker kortene (knapp følelse) */
.option:active {
    transform: scale(1);
}

/* ------------------------------ */
/* [Styling for resultat-seksjon] */
/* ------------------------------ */

/* Gjør .display uanvhegig av main */
.result {
    position: relative;
}

/* Får begge resultatene over hverandre*/
.display {
    position: absolute;
    width: 100%; 
    top: 0px;
    opacity: 0;
}

.display p {
    padding: 15px;
    border-radius: 15px;
}

/* Plasserer pil-symbolet på høyre side */
.display img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 30px;
    opacity: 0;
}

/* Vinter visning */
.display.summer p {
    background-color: rgb(255, 210, 139);
    color: rgb(128, 105, 70);
}

/* Sommer visning */
.display.winter p {
    background-color: rgb(133, 197, 213);
    color: rgb(67, 99, 107);
}


/* Aktiverer #winter/#summer */
.display:target {
    opacity: 1;
    transform: translateY(0);
    z-index: 1; /* Flytter over det andre elemntet*/
    animation: fadeInFromTop 1s;
}

/* Starter animasjon på pilen*/
.display:target img {
    opacity: 1;
    animation: fadeInFromLeft 1.5s;
}

/*-----------------------------*/
/* [Styling for tilbake-knapp] */
/*-----------------------------*/

/* Plasserer knappen nederst i venstre hjørne */
.return-button {
    position: fixed;
    bottom: 4%;
    left: 2%;
}

.return-button a {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 5px solid rgb(214, 225, 206);
    background-color: rgb(241, 245, 239);
}

/* Størrelse på pilen */
.return-button img {
    width: 30px;
}

/* --------------------- */
/* Animasjoner for siden */
/* --------------------- */

/* Beveges inn på siden fra toppen */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-17px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Beveges inn på siden fra venstre */
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translate(-30px, -50%);
    }
    50% {
        opacity: 0;
        transform: translate(-30px, -50%);
    }
    100% {
        opacity: 1;
        transform: translate(0, -50%);
    }
}

/* Gradvis øking av synlighet */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} 

/* Gradvis øking av synlighet etter 50% */
@keyframes fadeInDelay {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
} 

